# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Test output
.test/

# Logs
*.log

# Configuration files
*.env
config.yaml

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
